* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #515076; 
}

.button_panel {
  margin: 150px;
  text-align: center;
}

.button_panel button {
  padding: 10px;
  margin: 5px;
  box-shadow: 1px 1px 10px 0px #5150761A;
  color: #F7F7FA;
  background-color: #515076;
  border-radius: 10px;
  border: none;
}

.button_panel__invertButtonColor_buttton__inverted_color {
  color: #080805 !important;
  background-color: #aeaf89 !important;
}

.products {
  justify-self: center;
  width: 1210px;
  padding-top: 170px;
  background-image: url("Images/bg.png");
  background-repeat: no-repeat;
}

.products__section_title {
  margin-top: 10%;
  text-align: center;
  padding: 16px 8px;
  font-size: 70px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #515076;
}

.products__list {
  justify-content: center;
  align-content: center;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  gap: 32px;
}

.card {
  box-shadow: 1px 1px 10px 0px #5150761A;
  background-color: #F7F7FA;
  display: block;
  padding: 16px;
  width: 308px;
}

.card img{
  width: 100%;
}

.card__subheading {
  text-transform: uppercase;
  font-weight: 400;
  color: #A5A3B9;
  font-size: 12px;
}

.card__heading {
  font-size: 20px;
}

.card__description{
  font-size: 13px;
  padding: 8px 0px;
}

.card__composition_heading {
  font-size: 13px;
  font-weight: 400;
}

.card__composition_list {
  font-size: 13px;
  font-weight: 400;
  padding: 0px 16px;
  list-style: circle;
}

.card__price_box {
  width: 100%;
  padding-top: 8%;
  padding-top: 16px;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}